html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
    color: #202020;
}

#content {
    height: calc(100% - 150px);
}

#footer {
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

blockquote {
    font-size: 100%;
}

.messages-panel {
    height: 100%;
    overflow-y: auto;
}

.participants-panel {
    border-left: 2px solid #ddd;
    height: 100%;
    overflow-y: auto;
}

#participants {
    list-style-type: none;
    padding: 0;
}

.horizontal-control {
    display: inline;
    width: auto;
}
